{% load static %}

<section class="jobs-offices">
    <div class="center our-offices-container">
        <h2>Our offices</h2>
        <ul class="our-offices">
            <li class="cotswolds first">
                <img src="{% static "torchbox/images/icons/cotswolds.svg" %}" />
                <h3>In the glorious Cotswolds</h3>
                <p>Have lunch by the river at our head office in a beautiful Oxfordshire deer park, or take long walks along the river.</p>
            </li>
            <li class="bristol">
                <img src="{% static "torchbox/images/icons/bristol.svg" %}" />
                <h3>The vibrant centre of Bristol</h3>
                <p>Go out with the team to try the endless supply of real ales, or try the abundance of street food and sit in the vibrant parks.</p>
            </li>
            <li class="philadelphia last">
                <img src="{% static "torchbox/images/icons/philadelphia.svg" %}" />
                <h3>Historic Philadelphia</h3>
                <p>Soak up the historic Old City, kick back in a bar on South Street, or head to Passyunk square for an original cheese-steak.</p>
            </li>
        </ul>
    </div>
</section>
<div class="clearfix"></div>