{% extends "torchbox/base.html" %}
{% load compress wagtailcore_tags wagtailimages_tags humanize static torchbox_tags %}

{% block body_class %}transparent-header{% endblock %}

{% block content %}
    <div class="page-banner crop-height jobs-header">
        <div class="img-darken">
            <div class="jobs-header-content">
                <h1>Work with us</h1>
                <p>We design and build beautiful websites and robust, scalable custom applications for some of the world's great universities and academic institutions, globally-renowned think tanks, high profile charities and NGOs, and other organisations seeking to have a positive impact.</p>
                <a href="#reasons" class="button">Reasons to join us</a>
            </div>
        </div>
    </div>

    <section class="jobs-listing">
         <div class="center">
            <h2>Current opportunities</h2>
            {% if jobs %}
                <ul class="listing clearfix">
                    {% for job in jobs %}
                        <li>
                            <a href="{{ job.url }}" class="job-link">
                                {{ job.job_title }}
                                {% if job.location %}
                                    <div class="location">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 585 841.9" enable-background="new 0 0 585 841.9" xml:space="preserve">
                                            <path fill="" d="M363.8,267.3c-19.5-18.1-45.5-28.4-71.3-28.4s-51.8,10.4-71.3,28.4c-20.2,18.7-31.3,43-31.3,68.5  c0,66.7,100.8,255.4,101.8,257.3c0.2,0.3,0.5,0.5,0.9,0.5c0.4,0,0.7-0.2,0.9-0.5c1-1.9,101.8-190.6,101.8-257.3  C395.1,310.3,384,286,363.8,267.3z"></path>
                                        </svg>
                                        {{ job.location }}
                                    </div>
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <p class="no-job">We are always interested in hearing from smart people who want to work at Torchbox. If there's not an obvious position to apply for, <a href="mailto:hello@torchbox.com">do get in touch</a> anyway.</p>
            {% endif %}

            {% if self.intro %}
                <div class="sign-up">
                    {{ self.intro|richtext }}
                </div>
            {% endif %}
        </div>
    </section>
    {% if self.reasons_to_join.all %}
    <section class="jobs-benefits" id="reasons">
        <div class="jobs-carousel-container">
            <ul class="jobs-carousel">
                {% for reason in self.reasons_to_join.all %}
                    <li>
                        {% image reason.image original %}
                        <div class="slide-caption-container">
                            <div>
                                <span class="reason-no">Reasons to join us</span>
                                <h3>{{ reason.title }}</h3>
                                <p>{{ reason.body }}</p>
                            </div>
                        </div>
                    </li>
                 {% endfor %}
            </ul>
        </div>
    </section>
    {% endif %}

    {% include 'torchbox/includes/our_offices.html' %}
    {% include 'torchbox/includes/our_core_values.html' %}

    <section class="jobs-refer">
        <div class="center space-footer">
            <h2>Refer a friend and make £500</h2>
            <p>Not a Torchbox employee? Doesn't matter. If we hire someone for a permanent role and they pass their probation, if they've told us during the interview process that you recommended they apply the bounty is yours.</p>
        </div>
    </section>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'torchbox/js/vendor/jquery.matchHeight-min.js' %}" type="text/javascript"></script>
    <script src="{% static 'torchbox/js/vendor/slick/slick.min.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'torchbox/js/vendor/slick/slick.css' %}"/>
    {% compress js %}
        <script src="{% static 'torchbox/js/jobs.js' %}"></script>
    {% endcompress %}
{% endblock %}
